<div class="container mt-3">
  <div class="row">
    <div class=" mx-auto">
      <h1>User info</h1>
      <%= form_with model: @user,local: true do |f| %>

        <p>name</p>
        <%= f.text_field :name, style: "width: 500px" %>

        <p class="mt-4">Image</p>
        <%= f.file_field :profile_image, accept: "image/*" %>


        <p class="mt-4">Introduction</p>
        <%= f.text_area :introduction, style: "width: 500px" %>

        <%= f.submit "Update User", class: "btn btn-secondary d-block mt-2 mb-3 " %>

      <% end %>

    </div>
  </div>
</div>