<div class="container mt-3">
  <div class="row">
    <div class=" mx-auto">
      <h1>Editing Book</h1>
      <% if @book.errors.any? %>
        <div class="text-danger">
          <% if @book.errors.count > 1 %>
          <h3><%= @book.errors.count %>errors prohibited this obj from being saved:</h3>
          <% else %>
            <h3><%= @book.errors.count %>error prohibited this obj from being saved:</h3>
          <% end %>
          <ul>
            <% @book.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= form_with model: @book,local: true do |f| %>

        <p>Title</p>
        <%= f.text_field :title, style: "width: 500px" %>

        <p class="mt-4">Opinion</p>
        <%= f.text_area :body, style: "width: 500px" %>

        <%= f.submit "Update Book", class: "btn btn-success d-block mt-2 mb-3 " %>

      <% end %>

      <%= link_to "Show", book_path(@book.id) %>|
      <%= link_to "Back", books_path %>

    </div>
  </div>
</div>